* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/*==== VARIÃVEIS ====*/
:root {
  --header-height: 4.5rem;

  /* COLORS */
  --hue:159;
  /* HSL Color mode */
  --primary: hsl(var(--hue) 36% 57%);
  --secondary: hsl(var(--hue)65% 88%);
  --dark: hsl(var(--hue) 41% 10%);
  --gray: hsl(0 0% 46%);
  --gray-light: hsl(0 0% 98%);
  --background1: hsl(0 0% 98%);

  /* FONTS */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*==== BASE ====*/
html {
  scroll-behavior: smooth;
}
body{
  font: 400 1rem var(--body-font);
  color: var(--gray);
  background: var(--background1);
  -web-bkit-font-smoothing: antialiased;

}

.title {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  color: var(--dark);
  font-weight: 700;
  -webkit-font-smoothing: auto;
}

p {
  font-weight: 400;
  color: var(--gray);
}

.button {
  background: var(--primary);
  color: white;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);

  transition: filter .2s;
}

.button:hover {
  filter: brightness(1.2);
}

.divider-1 {
  height: 2px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue),36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

.divider-2 {
  height: 2px;
  background: linear-gradient(
    270deg, 
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue),36%, 57%, 1)
  );
}

/*==== LAYOUT ====*/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 1rem;
}

.section header strong {
  color: var(--primary);
}



/*==== HEADER ====*/
#header {
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--background1);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(57, 150, 107, 0.8);
}

.logo {
  width: 10.25rem;
  height: 1.56rem;
}



/*==== NAVIGATION ====*/
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--primary);
  font-weight: bold;
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--primary);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}


/*====== MOSTAR MENU =========*/
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--background1);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid; 
  place-content: center;

}
nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}


/*====== TOGGLE MENU =========*/
.toggle {
  color: var(--primary);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;

}


/*========== HOME =====================*/
#home {
  overflow: hidden; /* EVITA QUE TRANSBORDE CONTEUDO PRA FORA DO WIDTH*/
}

#home .container {
  /* display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly; */

  margin: 0;

}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--secondary);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;

}

#home .image img, 
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}


/*========== ABOUT =====================*/
#about {
  background: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--secondary);

  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img, 
#about .image::before {
  border-radius: 0.25rem;
}

#about p {
  margin-bottom: 1.5rem;
  line-height: 1.62rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


/*========== SERVICES =====================*/
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom:  0.25rem solid var(--primary);
  border-radius: .25rem .25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  font-size: 5rem;
  color: var(--primary);
  margin-bottom: 1.5rem;
}

.card title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}


/*========== TESTIMONIALS =====================*/
#testimonials {
  background: white;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem; 
  margin-bottom: 1.5rem;
  color: var(--dark)
}

#testimonials blockquote span {
  font: 700 3rem serif;
  color: var(--primary);
  position: absolute;
  top: -0.5rem;
  left: -1.875rem;
}

#testimonials cite {
  display: flex;
  align-items: center; 

}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle( );
  margin-right: 0.5rem;
}

/* SWIPER / CARROSSEL */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--primary);
}


/*========== CONTACT =====================*/
#contact .grid {
  margin-bottom: 4rem;
}

#contact .text p {
  line-height: 1.62rem;
  margin: 1rem 0 2rem;
}

#contact .button i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact .text a {
  margin-bottom: 4rem;
}

#contact .links ul li {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#contact .links ul li i {
  font-size: 1.5rem;
  color: var(--primary);
  margin-right: 0.75rem;
}


/*========== FOOTER =====================*/
footer {
  background: var(--primary);
}
footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: white;
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--gray-light);
}

footer .social a {
  display: inline-block;
  margin-right: 2rem;

  transition: .2s;
}

footer .social a:hover {
  transform: translateY(-8px);
}



/* LOGO FOOTER */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--dark); 
}

.logo span {
  color: var(--primary)
}
.logo-alt span {
  color: var(--gray-light);
}


/* BACK TO TOP */
.back-to-top{
  background-color: var(--primary);
  color: white;  

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  /* line-height: 0; */

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}


/* ================= RESPONSIVO ======================*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  /* REUSABLE CLASSES */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    margin-top: var(--header-height);
  }
  .section {
    padding: 10rem 0;
  }
  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* NAVIGATION */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
  nav .menu ul {
    display: flex;
    gap: 2rem;
  }
  nav .menu ul li a.title {
    font: 500 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }
  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;

  }
  nav .icon-menu {
    display: none;
  }

  /* HOME */
  #home .container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  #home .image {
    order: 1;
  }
 
  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
    margin-left: 0;
  }

  /* ABOUT */
  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  /* SERVICES */
  .cards {
    display: flex;
  }
  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  /* TESTIMONIALS */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* CONTACT */
  #contact .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #contact .text {
    max-width: 25rem;
  }

  #contact .grid {
    margin-bottom: 0;
  }

  /* FOOTER */
  footer {
    padding: 3.75rem 0;
  }
  footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer .brand a.logo-alt {
    font-size: 2rem;
    /* display: inline-flex;
    margin-bottom: 1.5rem; */
  }


}
/* large devices: 1023 > */
/* large devices: 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}


/* medium devices: 767 > */

